# Environment variables used when running
# the font-end and the back-end remotely
# This is the "production" file

API_BASE_URL="https://sac32876e5.execute-api.us-east-2.amazonaws.com/Prod/"

COGNITO_DOMAIN="project-watched-michaelirvin.auth.us-east-2.amazoncognito.com"
COGNITO_USER_POOL_ID="us-east-2_Wea9ek8pG"
COGNITO_USER_POOL_CLIENT_ID="2tk4e4p2lhb9o9redfhv011jg0"


COGNITO_REDIRECT_SIGNIN="https://d1k2gc4czz8c8f.cloudfront.net"
COGNITO_REDIRECT_SIGNOUT="https://d1k2gc4czz8c8f.cloudfront.net"
